@use "./variables" as *;

// borders
@mixin border-position($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin border-all($width, $style, $color) {
  border: $width $style $color;
}

// font-family
@mixin font-family-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.125rem;
  color: $color-text-primary;
  font-weight: normal;
  line-height: 160%;
  letter-spacing: 0.0313rem;
}

@mixin font-family-text {
  font-family: "Helvetica Neue", sans-serif;
  color: $color-text-primary;
  font-weight: normal;
  line-height: 175%;
  letter-spacing: 0.0625rem;
}

// button
@mixin circle-button($background) {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.5rem;
  color: $color-background-primary;
  background-color: $background;
  box-shadow: $color-box-shadow;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// flexbox
@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

// larger displays
@mixin wrap($max-width, $margin) {
  max-width: $max-width;
  margin: $margin;
}

@mixin full-width($color) {
  width: 100%;
  background: $color;
}

// responsive design
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
