// colours base;
$color-background-primary: #fff;
$color-text-primary: #292043;
$color-text-secondary: #635c7f;
$color-text-tertiary: #815af0;

// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//width
$width: 100%;
// larger displays
$max-width: 1280px;
$margin-center: 0 auto;
