@use "./../global" as *;

.swal-title {
  @include font-family-title;
}

.swal-text {
  @include font-family-text;
  font-size: 0.9rem;
}
.swal-button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  @include font-family-title;
  font-size: 0.6rem;
  @include desktop {
    font-size: 1rem;
  }
}

.swal-button--confirm {
  background-color: $color-confirm-secondary;
  color: $color-confirm-primary;
  border-radius: 0.3125rem;
  &:not([disabled]):hover {
    background-color: $color-confirm-primary;
    color: $color-confirm-secondary;
  }
}

.swal-button--cancel {
  background-color: $color-cancel-secondary;
  color: $color-cancel-primary;
  &:not([disabled]):hover {
    background-color: $color-cancel-primary;
    color: $color-cancel-secondary;
  }
}

.swal-button--deny {
  background-color: $color-deny-secondary;
  color: $color-deny-primary;
  &:not([disabled]):hover {
    background-color: $color-deny-primary;
    color: $color-deny-secondary;
  }
}

.swal-footer {
  @include flex(row, center, center);
}
