@use "./../global" as *;

.swal-title {
  font-family: "Helvetica Neue", sans-serif;
  color: $color-text-primary;
}

.swal-text {
  font-family: "Helvetica Neue", sans-serif;
  color: $color-text-secondary;
}
.swal-button {
  padding: 0.4375rem 1.1875rem;
  font-size: 0.6875rem;
  font-family: "Helvetica Neue", sans-serif;
}

.swal-button--confirm {
  color: #6387ef;
  background-color: #ebf0ff;
  border-radius: 0.3125rem;
}

.swal-button--cancel {
  background-color: rgb(231, 230, 230);
  color: rgb(143, 140, 140);
}

.swal-button--deny {
  background-color: #f4dbdf;
  color: #f27389;
}

.swal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
