@use "./../global" as *;
@use "./../global" as *;

.header {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 0.5rem;
  &__wrapper {
    @include flex(row, center, space-between);
  }
  &__menu {
    &-icon {
      // color: red;
    }
  }
}
