@use "./../global" as *;

.header {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.9rem 1.5rem;
  background: $color-background-secondary;
  box-shadow: $color-box-shadow;
  @include full-width($color-background-secondary);

  &__wrapper {
    @include flex(row, center, space-between);
    @include desktop {
      @include wrap($max-width, $margin-center);
    }
  }
  &__menu {
    @include flex(column, flex-end, flex-end);

    &-icon {
      height: 0.7rem;
      color: $color-text-primary;
    }
  }
}
