@use "./../global" as *;

.hero {
  @include flex(row, center, center);
  height: 50vh;
  background: $color-background-secondary;
  // simple tablet/desktop layout
  @include tablet {
    height: 70vh;
  }
  &__content {
    margin-top: 3.7rem;
  }
  &__title {
    @include flex(row, center, center);
    @include font-family-title;
    font-size: 2rem;
    // simple tablet/desktop design
    @include tablet {
      font-size: 3rem;
    }
    &-accent {
      color: $color-text-tertiary;
      font-style: italic;
      font-weight: bold;
      margin-left: 0.4rem;
    }
  }
}
