@use "./../global" as *;

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-background-primary;
  &__content {
    background-color: $color-background-primary;
    margin: auto;
    width: 100%;
    height: 100%;
    @include desktop {
      @include wrap($max-width, $margin-center);
    }
  }
  &__open {
    transition: all 0.3s ease-in;
    animation: fadeIn 0.5s;
  }
  &__close {
    transition: all 0.3s ease-out;
    animation: fadeOut 0.5s;
  }
  &__button {
    position: fixed;
    bottom: 1.375rem;
    right: 1.375rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.5s;
    &-add {
      display: flex;
      @include circle-button($color-text-tertiary);
      &:hover,
      &:focus,
      &:active {
        background-color: darken($color-text-tertiary, 8%);
        transform: scale(0.9);
      }
    }
    &-edit {
      display: none;

      @include circle-button($color-edit);
      &:hover,
      &:focus,
      &:active {
        background-color: darken($color-edit, 8%);
        transform: scale(0.9);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
