@use "./../global" as *;

.news {
  &__container {
    @include flex(column, center, space-between);
    margin: 1rem 1.5rem;
    @include desktop {
      @include wrap($max-width, $margin-center);
    }
  }
  &__item {
    margin: 2rem 0;
    width: 100%;
    @include border-position(bottom, 0.0313rem, solid, $color-disabled);
    // simple tablet/desktop design
    @include desktop {
      width: 60%;
    }
  }
  &__thumbnail {
    @include flex(column, center, center);
  }
  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: $color-box-shadow;
  }
  &__content {
    margin: 2rem 0.1rem;
  }

  &__description {
    @include font-family-text;
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  &__author {
    @include font-family-title;
    font-size: 1rem;
  }

  &__date {
    font-size: 0.9rem;
    @include font-family-text;
  }

  &__footer {
    @include flex(row, center, space-between);
    margin: 1rem 0 0 0;
  }
  &__like {
    @include flex(row, center, flex-end);
    padding: 0.5rem 0;
    &-btn {
      padding: 0.3rem;
      border: none;
      background-color: transparent;
    }
    &-icon {
      cursor: pointer;
      padding: 0.3rem 0.3rem 0.3rem 0;
      border: none;
      color: $color-disabled;
    }
    &-number {
      @include font-family-text;
      color: $color-text-primary;
      font-size: 0.9rem;
    }
  }
}

.liked {
  color: $color-liked;
  transform: scale(1.1);
}
