@font-face {
  font-family: "Raleway";
  src: url("Raleway-Bold.woff2") format("woff2"), url("Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("Raleway-Bold.woff2") format("woff2"), url("Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeue-UltraLight.woff2") format("woff2"), url("HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeue-UltraLight.woff2") format("woff2"), url("HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 1.5rem;
  background: linear-gradient(122.42deg, #faefff 21.38%, #efefff 69.42%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.header__menu-icon {
  height: 0.7rem;
  color: #292043;
}

.hero {
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(122.42deg, #faefff 21.38%, #efefff 69.42%);
}
.hero__content {
  margin-top: 3.7rem;
}
.hero__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  color: #292043;
}
.hero__title-accent {
  margin-left: 0.4rem;
  font-style: italic;
  font-weight: bold;
  color: #815af0;
}

.news__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px 24px;
}
.news__item {
  margin: 1rem 0 3.5rem 0;
}
.news__img {
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  min-height: 20vh;
  max-height: 20vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.news__content {
  margin: 2rem 0;
}
.news__title {
  font-family: "Red Hat Display", sans-serif;
  color: #292043;
  font-size: 1.125rem;
  line-height: 160%;
  margin-bottom: 1rem;
  text-align: left;
}
.news__description, .news__date, .news__author {
  font-family: "Helvetica Neue", sans-serif;
  color: #635c7f;
  font-size: 1rem;
  line-height: 175%;
  font-weight: normal;
}
.news__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0.3rem 0 0;
}

.add-news__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.add-news__modal-content {
  background-color: white;
  margin: auto;
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
}
.add-news__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 24px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
}
.add-news__buttons-close {
  cursor: pointer;
  color: #292043;
}
.add-news__buttons-close:hover {
  text-decoration: underline;
}
.add-news__buttons-publish {
  border-radius: 2rem;
  border: none;
  background-color: #815af0;
  color: white;
  opacity: 1;
  padding: 0.4rem 1rem;
}
.add-news__buttons-publish:disabled {
  cursor: not-allowed;
  color: lightgrey;
  background-color: #815af0;
  border-radius: 2rem;
  border: none;
  padding: 0.3rem 1rem;
  opacity: 0.7;
}
.add-news__list {
  padding: 0 24px;
  margin: 0;
  color: #292043;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.add-news__list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  font-family: "Helvetica Neue", sans-serif;
}
.add-news__label {
  font-family: "Helvetica Neue", sans-serif;
  padding: 0.5rem 0;
}
.add-news__title, .add-news__description {
  color: #292043;
  width: 100%;
  padding: 0.5rem;
  font-family: "Helvetica Neue", sans-serif;
  border: solid 1px #635c7f;
  border-radius: 5px;
}
.add-news__title::-moz-placeholder, .add-news__description::-moz-placeholder {
  font-family: "Helvetica Neue", sans-serif;
  color: #635c7f;
}
.add-news__title:-ms-input-placeholder, .add-news__description:-ms-input-placeholder {
  font-family: "Helvetica Neue", sans-serif;
  color: #635c7f;
}
.add-news__title::placeholder, .add-news__description::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  color: #635c7f;
}
.add-news__button {
  position: fixed;
  bottom: 22px;
  right: 22px;
  border-radius: 50%;
  border: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #815af0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: background-color 0.5s;
  cursor: pointer;
}
.add-news__button:hover {
  background-color: #6435ed;
}
.add-news__button-add {
  display: flex;
}
.add-news__button-edit {
  display: none;
}
.add-news__preview {
  border-radius: 0.5rem;
  width: 100%;
  min-height: 20vh;
  max-height: 20vh;
  border: none;
  margin: 0.5rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.add-news__preview-img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

input[type=file]::-webkit-file-upload-button {
  border-radius: 2rem;
  padding: 0.2em 0.4em;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: none;
  background-color: #6387ef;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  opacity: 1;
  padding: 0.4rem 1rem;
}

input[type=file]::file-selector-button {
  border-radius: 2rem;
  padding: 0.2em 0.4em;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: none;
  background-color: #6387ef;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  opacity: 1;
  padding: 0.4rem 1rem;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
}

.swal-button--confirm {
  color: #6387ef;
  background-color: #ebf0ff;
  border-radius: 5px;
}

.swal-button--cancel {
  background-color: lightgrey;
}

.swal-button--deny {
  background-color: #eeb4be;
  color: #f27389;
}

.swal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */