@use "./partials/main" as *;

.add-news {
  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    // padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
    animation: fadeIn 0.5s;
    &-content {
      background-color: white;
      margin: auto;
      // padding: 20px;
      border: 1px solid lightgray;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__close {
    color: #aaa;
    float: right;
    &:hover,
    &:focus {
      color: gray;
      cursor: pointer;
    }
  }

  &__button {
    position: fixed;
    bottom: 15px;
    right: 10px;
    border-radius: 50%;
    border: none;
    padding: 0.7rem;
    &-add {
      display: flex;
    }
    &-edit {
      display: none;
    }
  }
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 12px;
}

.swal-button--confirm {
  background-color: lightgreen;
}

.swal-button--cancel {
  background-color: lightgrey;
}

.swal-button--deny {
  background-color: lightsalmon;
}

.swal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
