@use "./partials/main" as *;

// hero
.hero {
  height: 40vh;
  @include flex(row, center, center);
  background: linear-gradient(122.42deg, #faefff 21.38%, #efefff 69.42%);

  &__content {
    margin-top: 3.7rem;
  }
  &__title {
    @include flex(row, center, center);
    font-family: "Red Hat Display", sans-serif;
    font-size: 32px;
    color: $color-text-primary;
    &-accent {
      margin-left: 0.4rem;
      font-style: italic;
      font-weight: bold;
      color: $color-text-tertiary;
    }
  }
}

// news section

.news {
  &__container {
    @include flex(column, center, space-between);
    margin: 50px 24px;
  }
  &__item {
    margin: 1rem 0 3.5rem 0;
  }
  &__img {
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;

    // cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  &__content {
    margin: 2rem 0;
  }
  &__title {
    font-family: "Red Hat Display", sans-serif;
    color: $color-text-primary;
    font-size: 1.125rem;
    line-height: 160%;
    margin-bottom: 1rem;
    text-align: left;
  }
  &__description,
  &__date,
  &__author {
    font-family: "Helvetica Neue", sans-serif;
    color: $color-text-secondary;
    font-size: 1rem;
    line-height: 175%;
    font-weight: normal;
  }
  &__footer {
    @include flex(row, center, space-between);
    margin: 1rem 0.3rem 0 0;
  }
}

.add-news {
  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    &-content {
      background-color: white;
      margin: auto;
      // padding: 20px;
      border: 1px solid lightgray;
      width: 100%;
      height: 100%;
    }
    // &-open {
    //   transition: all 0.3s ease-in;
    //   animation: fadeIn 0.5s;
    // }
    // &-close {
    //   transition: all 0.3s ease-out;
    //   animation: fadeOut 0.5s;
    // }
  }

  // @keyframes fadeIn {
  //   from {
  //     opacity: 0;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }

  // @keyframes fadeOut {
  //   from {
  //     opacity: 1;
  //   }
  //   to {
  //     opacity: 0;
  //   }
  // }

  &__buttons {
    @include flex(row, center, space-between);
    margin: 0;
    padding: 24px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.9rem;

    &-close {
      cursor: pointer;
      color: $color-text-primary;
      &:hover {
        text-decoration: underline;
      }
    }
    &-publish {
      border-radius: 2rem;
      border: none;
      background-color: $color-text-tertiary;
      color: white;
      opacity: 1;
      padding: 0.4rem 1rem;
      &:disabled {
        cursor: not-allowed;
        color: lightgrey;
        background-color: $color-text-tertiary;
        border-radius: 2rem;
        border: none;
        padding: 0.3rem 1rem;
        opacity: 0.7;
      }
    }
  }

  &__list {
    padding: 0 24px;
    margin: 0;
    color: $color-text-primary;
    @include flex(column, center, space-between);

    li {
      @include flex(column, flex-start, space-between);
      width: 100%;
      padding: 1rem 0;
      font-family: "Helvetica Neue", sans-serif;
    }
  }

  &__label {
    font-family: "Helvetica Neue", sans-serif;
    padding: 0.5rem 0;
  }

  &__title,
  &__description {
    color: $color-text-primary;
    width: 100%;
    padding: 0.5rem;
    font-family: "Helvetica Neue", sans-serif;
    border: solid 1px $color-text-secondary;
    border-radius: 5px;

    &::placeholder {
      font-family: "Helvetica Neue", sans-serif;
      color: $color-text-secondary;
    }
  }

  &__button {
    position: fixed;
    bottom: 22px;
    right: 22px;
    border-radius: 50%;
    border: none;
    width: 3rem;
    height: 3rem;
    @include flex(row, center, center);
    color: $color-background-primary;
    background-color: $color-text-tertiary;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: background-color 0.5s;
    cursor: pointer;
    &:hover {
      background-color: darken($color-text-tertiary, 8%);
    }
    &-add {
      display: flex;
    }
    &-edit {
      display: none;
    }
  }

  &__preview {
    border-radius: 0.5rem;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    border: none;
    margin: 0.5rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // background-color: #dcdcdc;
    @include flex(row, center, center);
    &-img {
      // border-radius: 0.5rem;
      // min-height: 20vh;
      // max-height: 20vh;
      // object-fit: cover;
      width: 100%;
      object-position: center;
    }
  }
}
input[type="file"]::file-selector-button {
  border-radius: 2rem;
  padding: 0.2em 0.4em;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: none;
  background-color: #6387ef;
  font-family: "Helvetica Neue", sans-serif;

  color: white;
  opacity: 1;
  padding: 0.4rem 1rem;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
}

.swal-button--confirm {
  color: #6387ef;
  background-color: #ebf0ff;
  border-radius: 5px;
}

.swal-button--cancel {
  background-color: lightgrey;
}

.swal-button--deny {
  background-color: #eeb4be;
  color: #f27389;
}

.swal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
